/*/////////////////////// Photon Icons//////////////////*/

.icon:before,
th {
    font-weight: 400
}
@font-face {
    font-family: photon-entypo;
    src: url(../fonts/photon-entypo.eot);
    src: url(../fonts/photon-entypo.eot?#iefix) format("eot"), url(../fonts/photon-entypo.woff) format("woff"), url(../fonts/photon-entypo.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
.icon:before {
    display: inline-block;
    speak: none;
    font-size: 110%;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: white;
    padding-left: 5px;
    margin-right: 5px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-note:before {
    content: '\e800'
}
.icon-note-beamed:before {
    content: '\e801'
}
.icon-music:before {
    content: '\e802'
}
.icon-search:before {
    content: '\e803'
}
.icon-flashlight:before {
    content: '\e804'
}
.icon-mail:before {
    content: '\e805'
}
.icon-heart:before {
    content: '\e806'
}
.icon-heart-empty:before {
    content: '\e807'
}
.icon-star:before {
    content: '\e808'
}
.icon-star-empty:before {
    content: '\e809'
}
.icon-user:before {
    content: '\e80a'
}
.icon-users:before {
    content: '\e80b'
}
.icon-user-add:before {
    content: '\e80c'
}
.icon-video:before {
    content: '\e80d'
}
.icon-picture:before {
    content: '\e80e'
}
.icon-camera:before {
    content: '\e80f'
}
.icon-layout:before {
    content: '\e810'
}
.icon-menu:before {
    content: '\e811'
}
.icon-check:before {
    content: '\e812'
}
.icon-cancel:before {
    content: '\e813'
}
.icon-cancel-circled:before {
    content: '\e814'
}
.icon-cancel-squared:before {
    content: '\e815'
}
.icon-plus:before {
    content: '\e816'
}
.icon-plus-circled:before {
    content: '\e817'
}
.icon-plus-squared:before {
    content: '\e818'
}
.icon-minus:before {
    content: '\e819'
}
.icon-minus-circled:before {
    content: '\e81a'
}
.icon-minus-squared:before {
    content: '\e81b'
}
.icon-help:before {
    content: '\e81c'
}
.icon-help-circled:before {
    content: '\e81d'
}
.icon-info:before {
    content: '\e81e'
}
.icon-info-circled:before {
    content: '\e81f'
}
.icon-back:before {
    content: '\e820'
}
.icon-home:before {
    content: '\e821'
}
.icon-link:before {
    content: '\e822'
}
.icon-attach:before {
    content: '\e823'
}
.icon-lock:before {
    content: '\e824'
}
.icon-lock-open:before {
    content: '\e825'
}
.icon-eye:before {
    content: '\e826'
}
.icon-tag:before {
    content: '\e827'
}
.icon-bookmark:before {
    content: '\e828'
}
.icon-bookmarks:before {
    content: '\e829'
}
.icon-flag:before {
    content: '\e82a'
}
.icon-thumbs-up:before {
    content: '\e82b'
}
.icon-thumbs-down:before {
    content: '\e82c'
}
.icon-download:before {
    content: '\e82d'
}
.icon-upload:before {
    content: '\e82e'
}
.icon-upload-cloud:before {
    content: '\e82f'
}
.icon-reply:before {
    content: '\e830'
}
.icon-reply-all:before {
    content: '\e831'
}
.icon-forward:before {
    content: '\e832'
}
.icon-quote:before {
    content: '\e833'
}
.icon-code:before {
    content: '\e834'
}
.icon-export:before {
    content: '\e835'
}
.icon-pencil:before {
    content: '\e836'
}
.icon-feather:before {
    content: '\e837'
}
.icon-print:before {
    content: '\e838'
}
.icon-retweet:before {
    content: '\e839'
}
.icon-keyboard:before {
    content: '\e83a'
}
.icon-comment:before {
    content: '\e83b'
}
.icon-chat:before {
    content: '\e83c'
}
.icon-bell:before {
    content: '\e83d'
}
.icon-attention:before {
    content: '\e83e'
}
.icon-alert:before {
    content: '\e83f'
}
.icon-vcard:before {
    content: '\e840'
}
.icon-address:before {
    content: '\e841'
}
.icon-location:before {
    content: '\e842'
}
.icon-map:before {
    content: '\e843'
}
.icon-direction:before {
    content: '\e844'
}
.icon-compass:before {
    content: '\e845'
}
.icon-cup:before {
    content: '\e846'
}
.icon-trash:before {
    content: '\e847'
}
.icon-doc:before {
    content: '\e848'
}
.icon-docs:before {
    content: '\e849'
}
.icon-doc-landscape:before {
    content: '\e84a'
}
.icon-doc-text:before {
    content: '\e84b'
}
.icon-doc-text-inv:before {
    content: '\e84c'
}
.icon-newspaper:before {
    content: '\e84d'
}
.icon-book-open:before {
    content: '\e84e'
}
.icon-book:before {
    content: '\e84f'
}
.icon-folder:before {
    content: '\e850'
}
.icon-archive:before {
    content: '\e851'
}
.icon-box:before {
    content: '\e852'
}
.icon-rss:before {
    content: '\e853'
}
.icon-phone:before {
    content: '\e854'
}
.icon-cog:before {
    content: '\e855'
}
.icon-tools:before {
    content: '\e856'
}
.icon-share:before {
    content: '\e857'
}
.icon-shareable:before {
    content: '\e858'
}
.icon-basket:before {
    content: '\e859'
}
.icon-bag:before {
    content: '\e85a'
}
.icon-calendar:before {
    content: '\e85b'
}
.icon-login:before {
    content: '\e85c'
}
.icon-logout:before {
    content: '\e85d'
}
.icon-mic:before {
    content: '\e85e'
}
.icon-mute:before {
    content: '\e85f'
}
.icon-sound:before {
    content: '\e860'
}
.icon-volume:before {
    content: '\e861'
}
.icon-clock:before {
    content: '\e862'
}
.icon-hourglass:before {
    content: '\e863'
}
.icon-lamp:before {
    content: '\e864'
}
.icon-light-down:before {
    content: '\e865'
}
.icon-light-up:before {
    content: '\e866'
}
.icon-adjust:before {
    content: '\e867'
}
.icon-block:before {
    content: '\e868'
}
.icon-resize-full:before {
    content: '\e869'
}
.icon-resize-small:before {
    content: '\e86a'
}
.icon-popup:before {
    content: '\e86b'
}
.icon-publish:before {
    content: '\e86c'
}
.icon-window:before {
    content: '\e86d'
}
.icon-arrow-combo:before {
    content: '\e86e'
}
.icon-down-circled:before {
    content: '\e86f'
}
.icon-left-circled:before {
    content: '\e870'
}
.icon-right-circled:before {
    content: '\e871'
}
.icon-up-circled:before {
    content: '\e872'
}
.icon-down-open:before {
    content: '\e873'
}
.icon-left-open:before {
    content: '\e874'
}
.icon-right-open:before {
    content: '\e875'
}
.icon-up-open:before {
    content: '\e876'
}
.icon-down-open-mini:before {
    content: '\e877'
}
.icon-left-open-mini:before {
    content: '\e878'
}
.icon-right-open-mini:before {
    content: '\e879'
}
.icon-up-open-mini:before {
    content: '\e87a'
}
.icon-down-open-big:before {
    content: '\e87b'
}
.icon-left-open-big:before {
    content: '\e87c'
}
.icon-right-open-big:before {
    content: '\e87d'
}
.icon-up-open-big:before {
    content: '\e87e'
}
.icon-down:before {
    content: '\e87f'
}
.icon-left:before {
    content: '\e880'
}
.icon-right:before {
    content: '\e881'
}
.icon-up:before {
    content: '\e882'
}
.icon-down-dir:before {
    content: '\e883'
}
.icon-left-dir:before {
    content: '\e884'
}
.icon-right-dir:before {
    content: '\e885'
}
.icon-up-dir:before {
    content: '\e886'
}
.icon-down-bold:before {
    content: '\e887'
}
.icon-left-bold:before {
    content: '\e888'
}
.icon-right-bold:before {
    content: '\e889'
}
.icon-up-bold:before {
    content: '\e88a'
}
.icon-down-thin:before {
    content: '\e88b'
}
.icon-left-thin:before {
    content: '\e88c'
}
.icon-right-thin:before {
    content: '\e88d'
}
.icon-up-thin:before {
    content: '\e88e'
}
.icon-ccw:before {
    content: '\e88f'
}
.icon-cw:before {
    content: '\e890'
}
.icon-arrows-ccw:before {
    content: '\e891'
}
.icon-level-down:before {
    content: '\e892'
}
.icon-level-up:before {
    content: '\e893'
}
.icon-shuffle:before {
    content: '\e894'
}
.icon-loop:before {
    content: '\e895'
}
.icon-switch:before {
    content: '\e896'
}
.icon-play:before {
    content: '\e897'
}
.icon-stop:before {
    content: '\e898'
}
.icon-pause:before {
    content: '\e899'
}
.icon-record:before {
    content: '\e89a'
}
.icon-to-end:before {
    content: '\e89b'
}
.icon-to-start:before {
    content: '\e89c'
}
.icon-fast-forward:before {
    content: '\e89d'
}
.icon-fast-backward:before {
    content: '\e89e'
}
.icon-progress-0:before {
    content: '\e89f'
}
.icon-progress-1:before {
    content: '\e8a0'
}
.icon-progress-2:before {
    content: '\e8a1'
}
.icon-progress-3:before {
    content: '\e8a2'
}
.icon-target:before {
    content: '\e8a3'
}
.icon-palette:before {
    content: '\e8a4'
}
.icon-list:before {
    content: '\e8a5'
}
.icon-list-add:before {
    content: '\e8a6'
}
.icon-signal:before {
    content: '\e8a7'
}
.icon-trophy:before {
    content: '\e8a8'
}
.icon-battery:before {
    content: '\e8a9'
}
.icon-back-in-time:before {
    content: '\e8aa'
}
.icon-monitor:before {
    content: '\e8ab'
}
.icon-mobile:before {
    content: '\e8ac'
}
.icon-network:before {
    content: '\e8ad'
}
.icon-cd:before {
    content: '\e8ae'
}
.icon-inbox:before {
    content: '\e8af'
}
.icon-install:before {
    content: '\e8b0'
}
.icon-globe:before {
    content: '\e8b1'
}
.icon-cloud:before {
    content: '\e8b2'
}
.icon-cloud-thunder:before {
    content: '\e8b3'
}
.icon-flash:before {
    content: '\e8b4'
}
.icon-moon:before {
    content: '\e8b5'
}
.icon-flight:before {
    content: '\e8b6'
}
.icon-paper-plane:before {
    content: '\e8b7'
}
.icon-leaf:before {
    content: '\e8b8'
}
.icon-lifebuoy:before {
    content: '\e8b9'
}
.icon-mouse:before {
    content: '\e8ba'
}
.icon-briefcase:before {
    content: '\e8bb'
}
.icon-suitcase:before {
    content: '\e8bc'
}
.icon-dot:before {
    content: '\e8bd'
}
.icon-dot-2:before {
    content: '\e8be'
}
.icon-dot-3:before {
    content: '\e8bf'
}
.icon-brush:before {
    content: '\e8c0'
}
.icon-magnet:before {
    content: '\e8c1'
}
.icon-infinity:before {
    content: '\e8c2'
}
.icon-erase:before {
    content: '\e8c3'
}
.icon-chart-pie:before {
    content: '\e8c4'
}
.icon-chart-line:before {
    content: '\e8c5'
}
.icon-chart-bar:before {
    content: '\e8c6'
}
.icon-chart-area:before {
    content: '\e8c7'
}
.icon-tape:before {
    content: '\e8c8'
}
.icon-graduation-cap:before {
    content: '\e8c9'
}
.icon-language:before {
    content: '\e8ca'
}
.icon-ticket:before {
    content: '\e8cb'
}
.icon-water:before {
    content: '\e8cc'
}
.icon-droplet:before {
    content: '\e8cd'
}
.icon-air:before {
    content: '\e8ce'
}
.icon-credit-card:before {
    content: '\e8cf'
}
.icon-floppy:before {
    content: '\e8d0'
}
.icon-clipboard:before {
    content: '\e8d1'
}
.icon-megaphone:before {
    content: '\e8d2'
}
.icon-database:before {
    content: '\e8d3'
}
.icon-drive:before {
    content: '\e8d4'
}
.icon-bucket:before {
    content: '\e8d5'
}
.icon-thermometer:before {
    content: '\e8d6'
}
.icon-key:before {
    content: '\e8d7'
}
.icon-flow-cascade:before {
    content: '\e8d8'
}
.icon-flow-branch:before {
    content: '\e8d9'
}
.icon-flow-tree:before {
    content: '\e8da'
}
.icon-flow-line:before {
    content: '\e8db'
}
.icon-flow-parallel:before {
    content: '\e8dc'
}
.icon-rocket:before {
    content: '\e8dd'
}
.icon-gauge:before {
    content: '\e8de'
}
.icon-traffic-cone:before {
    content: '\e8df'
}
.icon-cc:before {
    content: '\e8e0'
}
.icon-cc-by:before {
    content: '\e8e1'
}
.icon-cc-nc:before {
    content: '\e8e2'
}
.icon-cc-nc-eu:before {
    content: '\e8e3'
}
.icon-cc-nc-jp:before {
    content: '\e8e4'
}
.icon-cc-sa:before {
    content: '\e8e5'
}
.icon-cc-nd:before {
    content: '\e8e6'
}
.icon-cc-pd:before {
    content: '\e8e7'
}
.icon-cc-zero:before {
    content: '\e8e8'
}
.icon-cc-share:before {
    content: '\e8e9'
}
.icon-cc-remix:before {
    content: '\e8ea'
}
.icon-github:before {
    content: '\e8eb'
}
.icon-github-circled:before {
    content: '\e8ec'
}
.icon-flickr:before {
    content: '\e8ed'
}
.icon-flickr-circled:before {
    content: '\e8ee'
}
.icon-vimeo:before {
    content: '\e8ef'
}
.icon-vimeo-circled:before {
    content: '\e8f0'
}
.icon-twitter:before {
    content: '\e8f1'
}
.icon-twitter-circled:before {
    content: '\e8f2'
}
.icon-facebook:before {
    content: '\e8f3'
}
.icon-facebook-circled:before {
    content: '\e8f4'
}
.icon-facebook-squared:before {
    content: '\e8f5'
}
.icon-gplus:before {
    content: '\e8f6'
}
.icon-gplus-circled:before {
    content: '\e8f7'
}
.icon-pinterest:before {
    content: '\e8f8'
}
.icon-pinterest-circled:before {
    content: '\e8f9'
}
.icon-tumblr:before {
    content: '\e8fa'
}
.icon-tumblr-circled:before {
    content: '\e8fb'
}
.icon-linkedin:before {
    content: '\e8fc'
}
.icon-linkedin-circled:before {
    content: '\e8fd'
}
.icon-dribbble:before {
    content: '\e8fe'
}
.icon-dribbble-circled:before {
    content: '\e8ff'
}
.icon-stumbleupon:before {
    content: '\e900'
}
.icon-stumbleupon-circled:before {
    content: '\e901'
}
.icon-lastfm:before {
    content: '\e902'
}
.icon-lastfm-circled:before {
    content: '\e903'
}
.icon-rdio:before {
    content: '\e904'
}
.icon-rdio-circled:before {
    content: '\e905'
}
.icon-spotify:before {
    content: '\e906'
}
.icon-spotify-circled:before {
    content: '\e907'
}
.icon-qq:before {
    content: '\e908'
}
.icon-instagram:before {
    content: '\e909'
}
.icon-dropbox:before {
    content: '\e90a'
}
.icon-evernote:before {
    content: '\e90b'
}
.icon-flattr:before {
    content: '\e90c'
}
.icon-skype:before {
    content: '\e90d'
}
.icon-skype-circled:before {
    content: '\e90e'
}
.icon-renren:before {
    content: '\e90f'
}
.icon-sina-weibo:before {
    content: '\e910'
}
.icon-paypal:before {
    content: '\e911'
}
.icon-picasa:before {
    content: '\e912'
}
.icon-soundcloud:before {
    content: '\e913'
}
.icon-mixi:before {
    content: '\e914'
}
.icon-behance:before {
    content: '\e915'
}
.icon-google-circles:before {
    content: '\e916'
}
.icon-vkontakte:before {
    content: '\e917'
}
.icon-smashing:before {
    content: '\e918'
}
.icon-sweden:before {
    content: '\e919'
}
.icon-db-shape:before {
    content: '\e91a'
}
.icon-logo-db:before {
    content: '\e91b'
}

/*/////////////////////// Page Thumbnails //////////////////*/

.thumbnail {
    /* top: 5px; */
    width: 100%;
    height: 100%;
    /* background: white; */
    border-radius: 2px;
    /* box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.9); */
    display: inline-flex;
    position: relative;
    align-content: center;
}
.thumbnail-container{
    /* padding-left: 20px; */
}

.thumbnail-inner-img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.remove-pageflow-item{
    border-radius: 25px;
    position: absolute;
    z-index: 1;
}

/*/////////////////*/

x-button[skin^="iconic"] {
    padding: 2px 6px 4px 6px;
    color: #737373;
    background: none;
    border: none;
    border-radius: 4px 4px 0 0;
    --arrow-margin: 0 0 0 -20px;
    --arrow-width: 10px;
    --arrow-height: 10px;
}

/**
 * Accordion
 */

x-accordion {
    padding-left: 5px;
    padding-right: 5px;
}

/*****************************************************************************************************************/

x-label {
    font-size: 11px;
    /*    color: #5a5a5a;
    */
    font-weight: 500;
}

.white {
    font-size: 12px;
    /*    color: #fff;
    */
    font-weight: 500;
}

/*+++++++++ Font scrollcard ++++++++++*/

.fontCard {
    width: 290px;
    height: 200px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: scroll;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
}

.fontFullwidth {
    min-width: 287px !Important;
    margin-left: 5px;
}

.aButton {
    width: 73px !Important;
}

/*+++++++++++++++++++++++++++++++++*/

hr.style5 {
    background-color: #c9c9c9;
    /*	border-top: 2px dotted #bbb;*/
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 15px;
}

/*++++++++++++++++++++++++++++++*/

x-button[skin^="iconic"][toggled] {
    /*  background: linear-gradient(to bottom, #D7D7D7, #C9C9C9);
  */
    background: none;
    color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 3%));
}

/*Experiment with backdrop filter*/

/*
x-menu {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.0) !Important;
    backdrop-filter: blur(20px) saturate(200%) drop-shadow(10px 10px 3px black);
}*/

/*********************** Font List Styles ***************************************/

.font-group {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.font-group * {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-group-item {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-size: 13px;
    color: #414142;
    border-top: 1px solid #ddd;
}

.font-group-item li:nth-child(even) {
    background-color: rgba(245, 245, 244, 0.5);
}

.font-group-item:first-child {
    border-top: 0;
}

.font-group-item:last-child {
    border-bottom: 1px solid #ddd;
}

.font-group-item.active,
.font-group-item.selected {
    color: #fff;
    background-color: #116cd6;
}

.font-group-header {
    padding: 10px;
}

/*********************** Layer List Styles ***************************************/

.list-group {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-group * {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item {
    padding-left: 10px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 0px;
	width: 238px;
	height: 32px;
    font-size: 12px;
    color: #414142;
    border-top: 1px solid rgba(245, 245, 244, 0.43);
    cursor: move;
}

li:nth-child(even) {
    background-color: rgba(245, 245, 244, 0.4);
}

.list-group-item li:nth-child(even) {
    background-color: rgba(245, 245, 244, 0.4);
}

.list-group-item:first-child {
    border-top: 0;
}

.list-group-item:last-child {
    border-bottom: 1px solid rgba(245, 245, 244, 0.3);
}

.list-group-item.active,
.list-group-item.selected{
    color: #fff;
    background-color: rgba(74, 74, 74, 0.44);

}

.list-group-header {
    padding-top: 10px;
}

.media-object {
    margin-top: 2px;
}

.media-object.pull-left {
    margin-right: 10px;
    margin-top: 4px;
    color: #8b8b8b;
}

.media-object.pull-right {
    margin-left: 10px;
}

.media-body {
    overflow: hidden;
    margin-top: 3px;
}

.nav-group {
    font-size: 14px;
}

.nav-group-item {
    padding: 2px 10px 2px 25px;
    display: block;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-group-item:active,
.nav-group-item.active {
    background-color: #dcdfe1;
}

.nav-group-item .icon {
    width: 19px;
    height: 18px;
    float: left;
    color: #737475;
    margin-top: -3px;
    margin-right: 7px;
    font-size: 18px;
    text-align: center;
}

.nav-group-title {
    < < < < < < < HEAD
    margin: 0;
    padding: 10px 10px 2px;
    font-size: 12px;
    font-weight: 500;
    color: #666666;
= = = = = = = margin: 0;
    padding: 10px 10px 2px;
    font-size: 12px;
    font-weight: 100;
    color: #666666;
> > > > > > > b972e7ee7613d2ae39361489363ce8f4071d3af6
}

/* Style the tab content */

/*****************************************************************************************************************/

.tabcontent {
    display: none;
    color: # #333;
    -webkit-animation: fadeEffect 2.25s;
    animation: fadeEffect 2.25s;
}

/* Fade in leftTab */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*****************************************************************************************************************/

/* @skin "tabnav_sm" */

x-button[skin="tabnav_sm"] {
    color: #4a4a4a;
    background: none;
    border: none;
    border-radius: 0;
    font-size: 15px;
    padding: 2px;
    width: calc(100% + 10px);
    cursor: default;
}

x-button[skin="tabnav_sm"][toggled] {
    background: rgba(0, 0, 0, 0.4);
    color: rgb(219, 219, 219);
}

x-button[skin="tabnav_sm"][pressed] {
    background: rgba(0, 0, 0, 0.14);
    color: #4a4a4a;
}

x-button[skin="tabnav_sm"][toggled][pressed] {
    background: rgba(0, 0, 0, 0.2);
}

x-button[skin="tabnav_sm"] x-icon {
    width: 20px;
    height: 20px;
    opacity: 0.9;
    /*    margin-right: 12px;*/
}

x-button[skin="tabnav_sm"] x-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

/* @skin "tabnav" */

x-button[skin="tabnav"] {
    color: #4a4a4a;
    background: none;
    border: none;
    border-radius: 0;
    font-size: 15px;
    padding: 8px;
    /*    width: calc(100% + 10px);*/
    cursor: default;
}

x-button[skin="tabnav"][toggled] {
    /*    background: rgba(0, 0, 0, 0.4);*/
    color: rgb(18, 131, 252);
/*
    border-bottom: 5px solid hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 3%));
    bottom: -3px;
*/
}

x-button[skin="tabnav"][pressed] {
    /*    background: rgb(18, 131, 252);*/
    color: #4a4a4a;
}

x-button[skin="tabnav"][toggled][pressed] {
    background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 3%));
}

x-button[skin="tabnav"] x-icon {
    width: 28px;
    height: 28px;
    opacity: 0.9;
    /*    margin-right: 12px;*/
}

x-button[skin="tabnav"] x-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

/*****************************************************************************************************************/

.imginput {
    width: 75px !Important;
    height: 75px !Important;
}

.spacer {
    min-height: 5px;
    width: 100%;
}

.pad {
    padding-left: 5px;
    padding-right: 5px;
}

.push-right {
    float: right !Important;
}

.push-left {
    float: left !Important;
}

.push-center {
    margin: auto !Important;
}

.small {
    width: 85px !Important;
}

.halfsmall {
    width: 42px !Important;
}

.thin {
    width: 20px !Important;
    padding: 0px;
!Important;
}

.content-empty {
    background: url("../images/bg.png") repeat scroll top left;
}

.left_sm {
    text-align: left;
    font-size: 11px !Important;
}

.discl_sm {
    text-align: left;
    font-size: 10px !Important;
    color: #969696;
    margin: 6px;
}

.centered_sm {
    margin-bottom: 4px;
    text-align: center;
    font-size: 10px !Important;
}

.right {
    margin-left: auto;
    margin-right: 5px;
}

.left {
    align-items: baseline;
    justify-content: flex-start;
}

.middle {
    align-items: baseline;
    justify-content: space-between;
}

.sidebar {
/*    background-color: rgba(209, 207, 209, 0.2);*/
}

.window-content {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1;
}

.pane-group {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.pane {
    position: relative;
    overflow-y: auto;
    flex: 1;
}

.pane:first-child {
    border-left: 0;
}


.pane-sm {
    width: 250px;
    max-width: 320px;
    min-width: 230px;
	padding-left: 0px;
}

.pane-right {
    width: 315px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.inner {
    overflow-y: overlay;
    height: 100%;
    padding-bottom: 80px;
}

.pane-mini {
    width: 80px;
    flex: none;
}

.pane-one-fourth {
    width: 25%;
    flex: none;
}

.pane-one-third {
    width: 33.3%;
}

.toolbar {
    min-height: 22px;
    box-shadow: inset 0 0px 0 #f5f4f5;
    background-color: rgba(232, 230, 232, 0.4);
    /*    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e6e8), color-stop(100%, #d1cfd1));
    background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
    background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);*/
}

.toolbar:before,
.toolbar:after {
    display: table;
    content: " ";
    -webkit-app-region: drag;
}

.toolbar:after {
    clear: both;
    -webkit-app-region: drag;
}

.toolbar-header {
    border-bottom: 1px solid #c2c0c22a;
    -webkit-app-region: drag;
}

.toolbar-header .title {
    margin-top: 1px;
    -webkit-app-region: drag;
}

.toolbar-footer {
    border-top: 1px solid #c2c0c2;
}

.title {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #555;
    cursor: default;
    -webkit-app-region: drag;
}

.title_left {
    margin: 5px;
	padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #9096a0;
    cursor: default;
    -webkit-app-region: drag;
}

.toolbar-borderless {
    border-top: 0;
    border-bottom: 0;
    -webkit-app-region: drag;
}

.toolbar-actions {
    margin-top: 7px;
    margin-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    /*padding-left: 30px;*/
    padding-bottom: 3px;
    -webkit-app-region: drag;
}

.toolbar-actions:before,
.toolbar-actions:after {
    display: table;
    content: " ";
}

.toolbar-actions:after {
    clear: both;
}

.toolbar-actions > #x-button,
.toolbar-actions > #x-buttons {
    margin-left: 4px;
    margin-right: 4px;
}

.window {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.window-content {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1;
}

/**
 * Socialite
 */

.socialite {
    display: block;
    float: left;
    height: 35px;
}

/* CSS Added BY David Abgaryan Start */

.zoom-bar-percent-on-footer {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.right {
    width: 400px !important
}
.zoom-bar-on-footer {
    width: 250px;
}
.fit-to-win,
.original-size {
    margin-right: 10px;
}
.active1 {
    color: rgb(18, 131, 252) !important;
}

/*.left-part {*/
    /*position: absolute;*/
    /*left: -33px;*/
    /*z-index: 11;*/
    /*top: -29px;*/
    /*padding-left: 0px;*/
    /*width: 240px;*/
	/*margin-top: -10px;*/
/*}*/

/*#layers .dummy_icons x-icon {*/
    /*margin-bottom: 10px;*/
	/*width: 32px;*/
	/*height: 32px;*/
/*}*/

/*
.list-group-item x-icon {
    height: 22px !important;
    width: 22px !important;
}
*/

#thumb_pages ul{
    padding-left: 10px;
}

/* ////////////////////page-flow */
#page-flow-container{
    position: relative;
}

.page-flow-item {

    /* margin:20px; */
    /* width: 200px; */
    /* height: 270px; */
    height: inherit;
    /* widows: inherit;
    height: inherit; */
    /* outline: 2px solid red; */

}

.draged-item{
    width: inherit;
    /* // */
    height: 100%;
}


.drop-area-item{
    margin: 15px !important;
    /* margin: 1% !important; */
    display: inline-flex;
    width: 100%;
    height: 23vh;
}


#page-flow{
    left: 15px;
    top: 15px;
    position: absolute;
    z-index: 15;
    /* outline: 2px solid blue; */
    height: 115vh;
    /* width: 100%; */
    width: auto;
    /* background-color: gray; */
}

#page-flow-item-container{
    margin: 15px !important;
    /* margin: 2%; */
    /* width: 20%;
    height: 100%; */
    width: 273px;
    height: 221px;
    outline: 1px solid #172ed4;
}





/* ///drag and drop css */

/* CSS Added BY David Abgaryan End */