<link rel="stylesheet" href="../css/macos.theme.css">

<link rel="stylesheet" href="../css/app.css">

<link rel="stylesheet" href="../css/style.css">
<script src='../js/additionJs/xel.min.js'></script>
<script src='../js/angular/angular.min.js'></script>

<div class="window" ng-app="kitchensink" ng-controller="CanvasControlsController">
    <header class="toolbar toolbar-header">
        <x-box class="right">
            <x-select style="margin-right: 10px; margin-bottom: 5px; min-width:220px;">
                <x-menu>
                    <x-menuitem value="no_bg" ng-click='setCanvasSize(size.width, size.height)' ng-repeat='size in presetSizes' selected="true">
                        <x-label>{{ size.name }}</x-label>
                    </x-menuitem>
                </x-menu>
            </x-select>
            <input id="resize-btn" type="button" value="768x1024" id="create-new-file" />
            <input id="resize-btn2" type="button" value="1024x768" id="create-new-file" />
        </x-box>
    </header>
    <div class="window-content">

    </div>
</div>



<script>
    const remote = require('electron').remote;


    document.getElementById("resize-btn").addEventListener("click", function(e) {
        var window = remote.getCurrentWindow();
        window.setSize(768, 1024, true);
        window.setContentSize(768, 1024, true);
    });

    document.getElementById("resize-btn2").addEventListener("click", function(e) {
        var window = remote.getCurrentWindow();
        window.setSize(1024, 786, true);
        window.setContentSize(1024, 768, true);
    });
</script>