<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="node_modules/xel/stylesheets/macos.theme.css">
	<link rel="import" href="node_modules/xel/xel.min.html">
	<!--
<link rel="stylesheet" href="css/photon.css">-->
	<link rel="stylesheet" href="css/app.css">
	<!--	<link rel="stylesheet" href="css/text_menu.css">-->
	<link rel="stylesheet" href="css/gridlex.min.css">
	<link rel="stylesheet" href="css/pretty.min.css">

	<!--	this are the css an js files from the angular project-->

	<!--	<link rel='stylesheet prefetch' href='css/bootstrap.min.css'>-->
	<link rel='stylesheet prefetch' href='css/font-awesome.min.css'>

	<link rel="stylesheet" href="css/style.css">

	<!--	<script src="css/ruler.css"></script>-->



	<!-- Insert this line above script imports  -->
	<script>
		if (typeof module === 'object') {
			window.module = module;
			module = undefined;
		}

	</script>




	<script src='js/jquery.min.js'></script>
	<script src='js/jquery.nestable.js'></script>
	<script src='js/fabric.min.js'></script>
	<script src='js/angular.min.js'></script>

	<!--	<script src='assets/fabric.js'></script>
	<script src='assets/fabricCanvas.js'></script>
	<script src='assets/fabricConstants.js'></script>
	<script src='assets/fabricDirective.js'></script>
	<script src='assets/fabricDirtyStatus.js'></script>
	<script src='assets/fabricUtilities.js'></script>
	<script src='assets/fabricWindow.js'></script>
	<script src="js/index.js"></script>-->

	<script src="js/utils.js"></script>
	<script src="js/app_config.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/keymaster.js"></script>

	<script src="lib/font_definitions.js"></script>
	<script src="js/paster.js"></script>

	<!-- Ruler script here – https://github.com/MrFrankel/ruler  -->
	<link rel="stylesheet" href="node_modules/ruler.js/dist/ruler.min.css">
	<script src="node_modules/ruler.js/dist/ruler.min.js"></script>
	<script src="js/ruler_demo.js"></script>



	<!-- nestable side panel list demo  -->

	<script>
		$(document).ready(function() {

			var updateOutput = function(e) {
				var list = e.length ? e : $(e.target),
					output = list.data('output');
				if (window.JSON) {
					output.val(window.JSON.stringify(list.nestable('serialize'))); //, null, 2));
				} else {
					output.val('JSON browser support required for this demo.');
				}
			};

			// activate Nestable for list 1
			$('#nestable').nestable({
					group: 1
				})
				.on('change', updateOutput);

			// activate Nestable for list 2
			$('#nestable2').nestable({
					group: 1
				})
				.on('change', updateOutput);

			// output initial serialised data
			updateOutput($('#nestable').data('output', $('#nestable-output')));

			$('#nestable-menu').on('click', function(e) {
				var target = $(e.target),
					action = target.data('action');
				if (action === 'expand-all') {
					$('.dd').nestable('expandAll');
				}
				if (action === 'collapse-all') {
					$('.dd').nestable('collapseAll');
				}
			});

			$('#nestable3').nestable();

		});

	</script>


	<!-- Insert this line after script imports -->
	<script>
		if (window.module) module = window.module;

	</script>

	<!-- dummy function – toggle left panel -->

	<script>
		function toggleLayers() {
			var x = document.getElementById('layers');
			if (x.style.display === 'none') {
				x.style.display = 'block';
			} else {
				x.style.display = 'none';
			}
		}
		function toggleInspector() {
			var x = document.getElementById('inspector');
			if (x.style.display === 'none') {
				x.style.display = 'block';
			} else {
				x.style.display = 'none';
			}
		}

	</script>

	<!-- electron drag&drop test -->




</head>

<body style="background: rgba(0, 0, 0, 0.0); -webkit-app-region: drag;" ng-app="kitchensink" ng-controller="CanvasControls">
	<div class="window" style="background: rgba(255, 255, 255, 0.0)">
		<header class="toolbar toolbar-header">
			<h1 class="title">Untitled</h1>

			<div class="toolbar-actions">
				<x-box class="middle">
					<x-buttons tracking="1">
						<x-button skin="iconic" onclick="toggleLayers()">
							<x-box vertical>
								<x-icon name="layers"></x-icon>
								<x-label>Layers</x-label>
							</x-box>
						</x-button>

						<x-button skin="iconic">
							<x-box vertical>
								<x-icon name="pages"></x-icon>
								<x-label>Pages</x-label>
							</x-box>
						</x-button>
					</x-buttons>

					<x-buttons tracking="1">
						<x-button skin="iconic" ng-click="loadImage()">
							<x-box vertical>
								<x-icon name="text" iconset="images/icons.svg"></x-icon>
								<x-label>Add Text</x-label>
							</x-box>
						</x-button>

						<x-button skin="iconic">
							<x-box vertical>
								<x-icon name="add-box"></x-icon>
								<x-label>Insert Element</x-label>
							</x-box>
							<x-menu>
								<x-menuitem ng-click="addTextbox()">
									<x-icon name="title"></x-icon>
									<x-label>Add Textfield</x-label>
								</x-menuitem>

								<x-menuitem ng-click="loadImage()">
									<x-icon name="photo"></x-icon>
									<x-label>Add Image...</x-label>
								</x-menuitem>

								<x-menuitem>
									<x-icon name="videocam"></x-icon>
									<x-label>Add Video...</x-label>
								</x-menuitem>

								<hr>

								<x-menuitem ng-click="addRect()">
									<x-icon name="content-copy"></x-icon>
									<x-label>Add Rectangle</x-label>
								</x-menuitem>

								<x-menuitem ng-click="addRoundRect()">
									<x-icon name="crop-square"></x-icon>
									<x-label>Add Rounded Rectangle</x-label>
								</x-menuitem>

								<x-menuitem ng-click="addCircle()">
									<x-icon name="panorama-fish-eye"></x-icon>
									<x-label>Add Circle</x-label>
								</x-menuitem>

								<x-menuitem ng-click="addTriangle()">
									<x-icon name="details"></x-icon>
									<x-label>Add Triangle</x-label>
								</x-menuitem>

								<x-menuitem ng-click="addLine()">
									<x-icon name="remove"></x-icon>
									<x-label>Add Line</x-label>
								</x-menuitem>

							</x-menu>
						</x-button>

						<x-button skin="iconic">
							<x-box vertical>
								<x-icon name="cancel" ng-click="removeSelected()" code="8" dl-key-code="removeSelected()"></x-icon>
								<x-label>Remove Selected</x-label>
							</x-box>
						</x-button>
					</x-buttons>

					<x-buttons tracking="1">
						<x-button skin="iconic">
							<x-box vertical>
								<x-icon name="edit"></x-icon>
								<x-label>Page Editor</x-label>
							</x-box>
						</x-button>

						<x-button skin="iconic" disabled>
							<x-box vertical>
								<x-icon name="actions" iconset="images/icons.svg"></x-icon>
								<x-label>Actions Editor</x-label>
							</x-box>
						</x-button>



						<x-button skin="iconic" disabled>
							<x-box vertical>
								<x-icon name="view-module"></x-icon>
								<x-label>Page Flow</x-label>
							</x-box>
						</x-button>

					</x-buttons>

					<x-buttons tracking="1">
						<x-button skin="iconic" disabled>
							<x-box vertical>
								<x-icon name="visibility"></x-icon>
								<x-label>Project Preview</x-label>
							</x-box>
						</x-button>

						<x-button skin="iconic" disabled>
							<x-box vertical>
								<x-icon name="code"></x-icon>
								<x-label>Code View</x-label>
							</x-box>
						</x-button>

					</x-buttons>

					<x-buttons tracking="1">
						<x-button skin="iconic"  onclick="toggleInspector()">
							<x-box vertical>
								<x-icon name="settings"></x-icon>
								<x-label>Inspector</x-label>
							</x-box>
						</x-button>

						<x-button skin="iconic" disabled>
							<x-box vertical>
								<x-icon name="image"></x-icon>
								<x-label>Asset Library</x-label>
							</x-box>
						</x-button>

						<x-button skin="iconic" disabled>
							<x-box vertical>
								<x-icon name="get-app"></x-icon>
								<x-label>Export</x-label>
							</x-box>
						</x-button>

					</x-buttons>
				</x-box>






			</div>
		</header>

		<div class="window-content">
			<div class="pane-group">
				<div id="layers" class="pane-sm sidebar">
					<div class="col-12">
						<h1 class="title_left">Layers</h1>
						<hr>
					</div>
					<div class="dd" id="nestable">
						<ol class="dd-list">
							<li class="dd-item" data-id="1">
								<div class="dd-handle">Item 2</div>
							</li>
							<li class="dd-item" data-id="2">
								<div class="dd-handle">Item 2</div>
								<ol class="dd-list">
									<li class="dd-item" data-id="3">
										<div class="dd-handle">Item 3</div>
									</li>
									<li class="dd-item" data-id="4">
										<div class="dd-handle">Item 4</div>
									</li>
									<li class="dd-item" data-id="5">
										<div class="dd-handle">Item 5</div>
										<ol class="dd-list">
											<li class="dd-item" data-id="6">
												<div class="dd-handle">Item 6</div>
											</li>
											<li class="dd-item" data-id="7">
												<div class="dd-handle">Item 7</div>
											</li>
											<li class="dd-item" data-id="8">
												<div class="dd-handle">Item 8</div>
											</li>
										</ol>
									</li>
									<li class="dd-item" data-id="9">
										<div class="dd-handle">Item 9</div>
									</li>
									<li class="dd-item" data-id="10">
										<div class="dd-handle">Item 10</div>
									</li>
								</ol>
							</li>
							<li class="dd-item" data-id="11">
								<div class="dd-handle">Item 11</div>
							</li>
							<li class="dd-item" data-id="12">
								<div class="dd-handle">Item 12</div>
							</li>
						</ol>
					</div>



				</div>
				<div class="pane content-empty image-builder-container">

					<div id="wrapper" class='image-builder' parent-click="fabric.deactivateAll()">
						<div class='fabric-container'>
							<canvas id="canvas" width="1024" height="768"></canvas>
						</div>
					</div>
				</div>
				<div id="inspector" class="pane-right sidebar" ng-controller="TabsCtrl">

					<x-box>
						<x-buttons tracking="1">
							<x-button ng-repeat="tab in tabs" skin="tabnav" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
								<!--								<x-icon name="{{tab.ticon}}" iconset="{{tab.custom}}"></x-icon>-->
								<x-icon name="{{tab.micon}}"></x-icon>

							</x-button>
						</x-buttons>
					</x-box>
					<hr>




					<div ng-include="currentTab"></div>



				</div>
			</div>
		</div>
		<footer class="toolbar toolbar-footer" ng-controller="CanvasControls">
			<h1 class="title">{{ size.name }}</h1>
		</footer>
	</div>

	<script>
		var kitchensink = {};
		var canvas = new fabric.Canvas('canvas', {backgroundColor : "#FFFFFF"});
		
/*
getting some test data
*/

canvas.on('object:scaling', onObjectModification);
canvas.on('object:moving', onObjectModification);
canvas.on('object:rotating', onObjectModification);
canvas.on('object:selected', onObjectModification);
function onObjectModification(e) {
    var activeObject = e.target;
    if (!activeObject) {
      return;
    }
    var canvasWidth = canvas.width;
    var canvasHeight = canvas.height;
    var reachedLimit = false;
    var objectLeft = Math.round(activeObject.left);
    var objectTop = Math.round(activeObject.top);
	var objectAngle = Math.round( activeObject.angle * 10 ) / 10;
	var objectWidth = Math.round(activeObject.width);
	var objectHeight = Math.round(activeObject.height);
	var objWidth = Math.round(activeObject.width * activeObject.scaleX);
	var objHeight = Math.round(activeObject.height * activeObject.scaleY);
	console.log(canvasWidth, canvasHeight, objectLeft, objectTop, objectAngle, objectWidth, objectHeight, objWidth, objHeight);
	

}


/*end*/
		
		
		
/*
		undo and redo functions – this should be integrated in the controllers later on  
*/
		var _config = {
		canvasState             : [],
		currentStateIndex       : -1,
		undoStatus              : false,
		redoStatus              : false,
		undoFinishedStatus      : 1,
		redoFinishedStatus      : 1,

	};
	canvas.on(
		'object:modified', function(){
	  		updateCanvasState();
		}
	);
	
		  
  canvas.on(
		'object:added', function(){
	  		updateCanvasState();
		}
	);
		
		 canvas.on(
		'object:removed', function(){
	  		updateCanvasState();
		}
	);
  

	var updateCanvasState = function() {
		if((_config.undoStatus == false && _config.redoStatus == false)){
			var jsonData        = canvas.toJSON();
			var canvasAsJson        = JSON.stringify(jsonData);
			if(_config.currentStateIndex < _config.canvasState.length-1){
				var indexToBeInserted                  = _config.currentStateIndex+1;
				_config.canvasState[indexToBeInserted] = canvasAsJson;
				var numberOfElementsToRetain           = indexToBeInserted+1;
				_config.canvasState                    = _config.canvasState.splice(0,numberOfElementsToRetain);
			}else{
	    	_config.canvasState.push(canvasAsJson);
			}
	    _config.currentStateIndex = _config.canvasState.length-1;
      if((_config.currentStateIndex == _config.canvasState.length-1) && _config.currentStateIndex != -1){
      }
		}
	}

 
	var undo = function() {
		if(_config.undoFinishedStatus){
			if(_config.currentStateIndex == -1){
	    	_config.undoStatus = false;
			}
			else{
		    if (_config.canvasState.length >= 1) {
        	_config.undoFinishedStatus = 0;
		      if(_config.currentStateIndex != 0){
			    	_config.undoStatus = true;
			      canvas.loadFromJSON(_config.canvasState[_config.currentStateIndex-1],function(){
								var jsonData = JSON.parse(_config.canvasState[_config.currentStateIndex-1]);
					    	canvas.renderAll();
			      		_config.undoStatus = false;
			      		_config.currentStateIndex -= 1;
								if(_config.currentStateIndex !== _config.canvasState.length-1){
								}
							_config.undoFinishedStatus = 1;
		      	});
		      }
		      else if(_config.currentStateIndex == 0){
 		      	canvas.clear();
						_config.undoFinishedStatus = 1;
		      	_config.currentStateIndex -= 1;
		      }
		    }
			}
		}
	}
  
	var redo = function() {
		if(_config.redoFinishedStatus){
			if((_config.currentStateIndex == _config.canvasState.length-1) && _config.currentStateIndex != -1){
			}else{
		  	if (_config.canvasState.length > _config.currentStateIndex && _config.canvasState.length != 0){
					_config.redoFinishedStatus = 0;
		    	_config.redoStatus = true;
		      canvas.loadFromJSON(_config.canvasState[_config.currentStateIndex+1],function(){
							var jsonData = JSON.parse(_config.canvasState[_config.currentStateIndex+1]);
				    	canvas.renderAll();
			    		_config.redoStatus = false;
		      		_config.currentStateIndex += 1;
							if(_config.currentStateIndex != -1){
							}
						_config.redoFinishedStatus = 1;
            if((_config.currentStateIndex == _config.canvasState.length-1) && _config.currentStateIndex != -1){
            }
		      });
		    }
			}
		}
	}
	

	</script>

	<script>
		require('electron').ipcRenderer.on('ping', function(event, message) {
			console.log(message); // Prints "whoooooooh!"
		});

	</script>

	<script>
		key('⌘+c, ctrl+c', function() {
			copy();
		});
		key('⌘+v, ctrl+v', function() {
			paste();
		});
		key('backspace, del', function() {
			remove();
		});
		key('⌘+g', function() {
			group();
		});
		key('⌘+u', function() {
			ungroup();
		});
		key('⌘+z', function() {
			undo();
		});
		key('shift+⌘+z', function() {
			redo();
		});

	</script>



</body>

</html>
