<h1 class="title_left">Typography</h1>
<hr>

<form>
    <p><b>Vibrancy Type</b></p>
    <input type="radio" name="vibrancy" onclick="require('electron').remote.getCurrentWindow().setVibrancy()" checked>None
    <br>
    <input type="radio" name="vibrancy" onclick="require('electron').remote.getCurrentWindow().setVibrancy('light')">Light
    <br>
    <input type="radio" name="vibrancy" onclick="require('electron').remote.getCurrentWindow().setVibrancy('medium-light')">Medium Light
    <br>
    <input type="radio" name="vibrancy" onclick="require('electron').remote.getCurrentWindow().setVibrancy('dark')">Dark
    <br>
    <input type="radio" name="vibrancy" onclick="require('electron').remote.getCurrentWindow().setVibrancy('ultra-dark')">Ultra Dark
    <br>
</form>
<div class="tab-pane" id="object">
    <div class="object-controls" object-buttons-enabled="getSelected()">
        <label for="color">Fill / Stroke / Background:</label>
        <input type="color" style="width:40px" bind-value-to="fill" class="btn-object-action">
        <input type="color" style="width:40px" bind-value-to="stroke" class="btn-object-action">
        <input type="color" value="" id="text-bg-color" size="10" class="btn-object-action" bind-value-to="bgColor">
        <br />
        <label for="opacity">Opacity:</label>
        <input value="100" type="range" bind-value-to="opacity" class="btn-object-action">
        <br />
        <label for="stroke">Stroke width:</label>
        <input value="1" min="0" max="30" type="range" bind-value-to="strokeWidth" class="btn-object-action">
        <br />
        <label for="corner">Corner Width:</label>
        <input value="1" min="0" max="100" type="range" bind-value-to="cornerWidth" class="btn-object-action">
        <br />
        <input type="number" name="corner" bind-value-to="cornerWidth" value="cornerWidth" class="btn-object-action" />
        <div id="text-wrapper" ng-show="getText()">
            <div id="text-controls">
                <p>Text specific controls</p>
                <textarea bind-value-to="text" rows="3" columns="80"></textarea>
                <br />
                <label for="font-family" style="display:inline-block">Font family:</label>
                <select id="font-family" class="btn-object-action" bind-value-to="fontFamily">
                    <option value="arial">Arial</option>
                    <option value="avenir">Avenir</option>
                    <option value="helvetica" selected>Helvetica</option>
                    <option value="myriad pro">Myriad Pro</option>
                    <option value="delicious">Delicious</option>
                    <option value="verdana">Verdana</option>
                    <option value="georgia">Georgia</option>
                    <option value="courier">Courier</option>
                    <option value="comic sans ms">Comic Sans MS</option>
                    <option value="impact">Impact</option>
                    <option value="monaco">Monaco</option>
                    <option value="optima">Optima</option>
                    <option value="hoefler text">Hoefler Text</option>
                    <option value="plaster">Plaster</option>
                    <option value="engagement">Engagement</option>
                    <option value="helvetica neue">Helvetica Neue</option>

                </select>
                <br>
                <label for="text-align" style="display:inline-block">Text align:</label>
                <select id="text-align" class="btn-object-action" bind-value-to="textAlign">
                    <option>Left</option>
                    <option>Center</option>
                    <option>Right</option>
                    <option>Justify</option>
                </select>
                <div>
                    <label for="color">Text Color:</label>
                    <input type="color" style="width:40px" bind-value-to="fill" class="btn-object-action">
                </div>
                <div>
                    <label for="text-lines-bg-color">Text Background Color:</label>
                    <input type="color" value="" id="text-lines-bg-color" size="10" class="btn-object-action" bind-value-to="textBgColor">
                </div>
                <div>
                    <label for="text-font-size">Font size:</label>
                    <input type="range" value="" min="1" max="120" step="1" id="text-font-size" class="btn-object-action" bind-value-to="fontSize">
                </div>
                <div>
                    <label for="text-line-height">Line height:</label>
                    <input type="range" value="" min="0" max="10" step="0.1" id="text-line-height" class="btn-object-action" bind-value-to="lineHeight">
                </div>
                <div>
                    <label for="text-char-spacing">Char spacing:</label>
                    <input type="range" value="" min="-200" max="800" step="10" id="text-char-spacing" class="btn-object-action" bind-value-to="charSpacing">
                </div>
                <button type="button" class="btn btn-object-action" ng-click="toggleBold()" ng-class="{'btn-inverse': isBold()}">
                    Bold
                </button>
                <button type="button" class="btn btn-object-action" id="text-cmd-italic" ng-click="toggleItalic()" ng-class="{'btn-inverse': isItalic()}">
                    Italic
                </button>
                <button type="button" class="btn btn-object-action" id="text-cmd-underline" ng-click="toggleUnderline()" ng-class="{'btn-inverse': isUnderline()}">
                    Underline
                </button>
                <button type="button" class="btn btn-object-action" id="text-cmd-linethrough" ng-click="toggleLinethrough()" ng-class="{'btn-inverse': isLinethrough()}">
                    Linethrough
                </button>
                <button type="button" class="btn btn-object-action" id="text-cmd-overline" ng-click="toggleOverline()" ng-class="{'btn-inverse': isOverline()}">
                    Overline
                </button>
            </div>
        </div>
        <div style="margin-top:10px;">
            <button class="btn btn-lock btn-object-action" ng-click="setHorizontalLock(!getHorizontalLock())" ng-class="{'btn-inverse': getHorizontalLock()}">
                {[ getHorizontalLock() ? 'Unlock horizontal movement' : 'Lock horizontal movement' ]}
            </button>
            <button class="btn btn-lock btn-object-action" ng-click="setVerticalLock(!getVerticalLock())" ng-class="{'btn-inverse': getVerticalLock()}">
                {[ getVerticalLock() ? 'Unlock vertical movement' : 'Lock vertical movement' ]}
            </button>
            <br>
            <button class="btn btn-lock btn-object-action" ng-click="setScaleLockX(!getScaleLockX())" ng-class="{'btn-inverse': getScaleLockX()}">
                {[ getScaleLockX() ? 'Unlock horizontal scaling' : 'Lock horizontal scaling' ]}
            </button>
            <button class="btn btn-lock btn-object-action" ng-click="setScaleLockY(!getScaleLockY())" ng-class="{'btn-inverse': getScaleLockY()}">
                {[ getScaleLockY() ? 'Unlock vertical scaling' : 'Lock vertical scaling' ]}
            </button>
            <button class="btn btn-lock btn-object-action" ng-click="setRotationLock(!getRotationLock())" ng-class="{'btn-inverse': getRotationLock()}">
                {[ getRotationLock() ? 'Unlock rotation' : 'Lock rotation' ]}
            </button>
        </div>

        <div style="margin-top:10px">
            <p>
                <span style="margin-right: 10px">Origin X: </span>
                <label>
                    Left
                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="left" bind-value-to="originX">
                </label>
                <label>
                    Center
                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="center" bind-value-to="originX">
                </label>
                <label>
                    Right
                    <input type="radio" name="origin-x" class="origin-x btn-object-action" value="right" bind-value-to="originX">
                </label>
            </p>
            <p>
                <span style="margin-right: 10px">Origin Y: </span>
                <label>
                    Top
                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="top" bind-value-to="originY">
                </label>
                <label>
                    Center
                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="center" bind-value-to="originY">
                </label>
                <label>
                    Bottom
                    <input type="radio" name="origin-y" class="origin-y btn-object-action" value="bottom" bind-value-to="originY">
                </label>
            </p>
            <p>
                <label>
                    Cache:
                    <input type="checkbox" name="object-caching" class="btn-object-action" bind-value-to="objectCaching">
                </label>
                <label>
                    No scaling cache:
                    <input type="checkbox" name="no-scale-cache" class="btn-object-action" bind-value-to="noScaleCache">
                </label>
                <br />
                <label>
                    Controls:
                    <input type="checkbox" name="has-controls" class="btn-object-action" bind-value-to="hasControls">
                </label>
                <label>
                    Trasparent corners:
                    <input type="checkbox" name="transparent-corners" class="btn-object-action" bind-value-to="transparentCorners">
                </label>
                <label>
                    Borders:
                    <input type="checkbox" name="has-borders" class="btn-object-action" bind-value-to="hasBorders">
                </label>
            </p>
        </div>

        <div style="margin-top:10px;">
            <button id="send-backwards" class="btn btn-object-action" ng-click="sendBackwards()">Send backwards</button>
            <button id="send-to-back" class="btn btn-object-action" ng-click="sendToBack()">Send to back</button>
        </div>

        <div style="margin-top:4px;">
            <button id="bring-forward" class="btn btn-object-action" ng-click="bringForward()">Bring forwards</button>
            <button id="bring-to-front" class="btn btn-object-action" ng-click="bringToFront()">Bring to front</button>
        </div>

        <div style="margin-top:10px;">
            <button id="gradientify" class="btn btn-object-action" ng-click="gradientify()">
                Gradientify
            </button>
            <button id="shadowify" class="btn btn-object-action" ng-click="shadowify()">
                Shadowify
            </button>
            <button id="patternify" class="btn btn-object-action" ng-click="patternify()">
                Patternify
            </button>
            <button id="clip" class="btn btn-object-action" ng-click="clip()">
                Clip
            </button>

            <button id="beep" class="btn btn-object-action" ng-click="showError()">
                DoBeep
            </button>
        </div>
    </div>
</div>
