	<link rel="stylesheet" href="../node_modules/xel/stylesheets/macos.theme.css">
	<link rel="import" href="../node_modules/xel/xel.min.html">
<link rel="stylesheet" href="../css/gridlex.min.css">
	<link rel="stylesheet" href="../css/app.css">

<style>
	.menu {
		padding-left: 5px !Important;
	}
	.right_margin{
		margin-right: 5px !Important;
	}
</style>
<!--
<div id="Actions" class="tabcontent">
	<h1 class="title_left">Actions</h1>
	<hr>
	<x-box class="middle">
		<x-box>
			<x-label>Left</x-label>


						<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
			<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</x-box>
	</x-box>
	<x-box class="middle">
		<x-box>
			<x-label>Width</x-label>
			<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>

		</x-box>
		<x-box>
			<x-label>Height</x-label>
			<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</x-box>
	</x-box>
</div>-->
<div id="Actions" class="tabcontent">

	<div class="grid-middle-noGutter">
		<div class="col-12 right">
			<h1 class="title_left">Actions1</h1>
		<hr>
		</div>

		<div class="col-2 menu">
			<x-label>Position</x-label>
		</div>
		<div class="col-4">
			<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</div>
		<div class="col-1"></div>
		<div class="col-4">
			<x-numberinput class="small right_margin" skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</div>
		<div class="col-1"></div>

		<div class="col-3"></div>
		<div class="col-4 centered_sm">X</div>
		<div class="col-1"></div>
		<div class="col-4 centered_sm">Y</div>
		
				<div class="col-3 menu">
			<x-label>Size</x-label>
		</div>
		<div class="col-4">
			<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</div>
		<div class="col-1"></div>
		<div class="col-4">
			<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</div>

		<div class="col-3"></div>
		<div class="col-4 centered_sm">Width</div>
		<div class="col-1"></div>
		<div class="col-4 centered_sm">Height</div>

		<div class="col-3">...</div>
		<div class="col-4">...</div>
		<div class="col-1">...</div>
		<div class="col-4">...</div>
	</div>

</div>