<div id="inspector" class="pane-right sidebar" ng-controller="RightTabsCtrl">

    <x-box>
        <x-buttons tracking="1">
            <x-button ng-repeat="tab in leftTab" class="tab" skin="tabnav"
                      ng-class="{'active1': isActiveTab(tab.url)}" ng-click="onClickLeftTab(tab)">
                <!--								<x-icon name="{{tab.ticon}}" iconset="{{tab.custom}}"></x-icon>-->
                <x-icon class="icon-in-tab" name="{{tab.micon}}"></x-icon>

            </x-button>
        </x-buttons>
    </x-box>
    <hr>

    <div ng-include="currentLeftTab" class="inner"></div>

</div>