<div class="grid-middle-noGutter">
	<div class="col-12">
		<h1 class="title_left">Element Layout</h1>
		<hr>
	</div>
	<div class="col-3">
		<x-label class="push-right pad">Align</x-label>
	</div>
	<div class="col-9">
		<x-buttons tracking="-1">
			<x-button skin="tabnav_sm">
				<x-icon name="dcenter" iconset="images/icons.svg"></x-icon>
			</x-button>

			<x-button skin="tabnav_sm">
				<x-icon name="dmiddle" iconset="images/icons.svg"></x-icon>
			</x-button>

			<x-button skin="tabnav_sm">
				<x-icon name="aleft" iconset="images/icons.svg"></x-icon>
			</x-button>

			<x-button skin="tabnav_sm">
				<x-icon name="amiddle" iconset="images/icons.svg"></x-icon>
			</x-button>

			<x-button skin="tabnav_sm">
				<x-icon name="aright" iconset="images/icons.svg"></x-icon>
			</x-button>

			<x-button skin="tabnav_sm">
				<x-icon name="atop" iconset="images/icons.svg"></x-icon>
			</x-button>

			<x-button skin="tabnav_sm">
				<x-icon name="amiddle" iconset="images/icons.svg"></x-icon>
			</x-button>

			<x-button skin="tabnav_sm">
				<x-icon name="abottom" iconset="images/icons.svg"></x-icon>
			</x-button>
		</x-buttons>
	</div>

	<hr>

	<div class="spacer"></div>




	<div class="col-3">
		<x-label class="push-right pad">Position</x-label>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>
	<div class="col-1"></div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">X</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">Y</div>

	<div class="col-3 menu">
		<x-label class="push-right pad">Size</x-label>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>
	<div class="col-1">
		<x-icon name="link"></x-icon>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">Width</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">Height</div>

	<div class="col-3">
		<x-label class="push-right pad">Transform</x-label>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="10" suffix="°">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>
	<div class="col-1"></div>
	<div class="col-4">
		<x-buttons tracking="2">
			<x-button skin="textured-condensed" class="halfsmall">
				<x-icon name="swap-horiz"></x-icon>
			</x-button>

			<x-button skin="textured-condensed" class="halfsmall">
				<x-icon name="swap-vert"></x-icon>
			</x-button>

		</x-buttons>
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">Rotate</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">Flip</div>

	<div class="col-3"></div>
	<div class="col-9">
		<x-button skin="textured" disabled style="width:197px;">
			<x-box>
				<x-label>Set to original size</x-label>
			</x-box>
		</x-button>
	</div>

	<div class="spacer"></div>
	<hr>
	<div class="spacer"></div>

	<div class="col-3 menu">
		<x-label class="push-right pad">Scale</x-label>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="100" suffix=" %">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>
	<div class="col-1">
		<x-icon name="link"></x-icon>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="100" suffix=" %">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">Width</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">Height</div>

	<hr>
	<div class="spacer"></div>

	<div class="col-3 menu">
		<x-label class="push-right pad">Origin</x-label>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="50" suffix=" %">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>
	<div class="col-1">
		<x-icon name="link"></x-icon>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="50" suffix=" %">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">x-origin</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">y-origin</div>

	<hr>
	<div class="spacer"></div>
</div>