<div class="grid-middle-noGutter">
	<div class="col-12">
		<h1 class="title_left">Page Settings</h1>
		<hr>
	</div>


	<div class="col-12">
		<x-label class="discl_sm">Page Size</x-label>
	</div>

	<div class="spacer"></div>

	<div class="col-3">
		<x-label class="push-right pad"></x-label>
	</div>
	<div class="col-9">
		<x-select style="width: 210px;">
			<x-menu>
				<x-menuitem value="no_bg" ng-click='setCanvasSize(size.width, size.height)' ng-repeat='size in presetSizes' selected="true">
					<x-label>{{ size.name }}</x-label>
				</x-menuitem>
			</x-menu>
		</x-select>
	</div>

	<div class="spacer"></div>

	<div class="col-3 menu">
		<x-label class="push-right pad">Size</x-label>
	</div>


	<div class="col-4">
		<x-numberinput class="small" id="myWidth" skin="condensed" ng-value="canvas.getWidth()" suffix=" px" ng-model="width">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>
	<div class="col-1">
	</div>
	<div class="col-4">
		<x-numberinput class="small" id="myHeight" skin="condensed" ng-value="canvas.getHeight()" suffix=" px" ng-model="height">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">Width</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">Height</div>

	<div class="col-3"></div>
	<div class="col-9">
		<x-button skin="textured" style="width:210px;" ng-click="setMySize()">
			<x-box>
				<x-label>Apply</x-label>
			</x-box>
		</x-button>
	</div>



	<div class="spacer"></div>

	<hr>



	<div class="col-12">
		<x-label class="discl_sm">Background Color</x-label>
	</div>
	<div class="spacer"></div>


	<div class="col-3">
		<x-label class="push-right pad">Color</x-label>
	</div>
	<div class="col-5">
		<input type="color" id="picker1" class="small" ng-value="bgcolor" bind-value-to="canvasBgColor" ng-model="bgcolor">

	</div>
	<div class="col-4">
		<x-input id="select1" class="small" ng-value="bgcolor" bind-value-to="canvasBgColor" ng-model="bgcolor">
			<x-icon name="invert-colors"></x-icon>
		</x-input>

	</div>

	<div class="spacer"></div>
	<hr>

	<div class="col-12">
		<x-label class="discl_sm">Background Gradient</x-label>
	</div>
	<div class="spacer"></div>
	<div class="col-3 menu">
		<x-label class="push-right pad">Gradient</x-label>
	</div>
	<div class="col-5">
		<input type="color" id="gradLeft" class="small" bind-value-to="addGradient()" ng-model="leftColor">
	</div>

	<div class="col-4">
		<input type="color" id="gradRight" class="small" bind-value-to="addGradient()" ng-model="rightColor">
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">Left</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">Right</div>

	<div class="col-3">
		<x-label class="push-right pad"></x-label>
	</div>
	<div class="col-4">
		<x-numberinput class="small" skin="condensed" value="90" suffix="°">
			<x-stepper></x-stepper>
		</x-numberinput>
	</div>
	<div class="col-1"></div>
	<div class="col-4">
		<x-buttons tracking="2">
			<x-button skin="textured-condensed" class="halfsmall">
				<x-icon name="swap-horiz"></x-icon>
			</x-button>

			<x-button skin="textured-condensed" class="halfsmall">
				<x-icon name="swap-vert"></x-icon>
			</x-button>

		</x-buttons>
	</div>

	<div class="col-3"></div>
	<div class="col-4 centered_sm">Direction</div>
	<div class="col-1"></div>
	<div class="col-4 centered_sm">Flip</div>

	<div class="col-3"></div>
	<div class="col-9">
		<x-button skin="textured" style="width:210px;" ng-click="addGradient();">
			<x-box>
				<x-label>Set Background</x-label>
			</x-box>
		</x-button>
	</div>

	<div class="spacer"></div>
	<hr>

	<div class="col-12">
		<x-label class="discl_sm">Background Image</x-label>
	</div>

	<div class="col-3 menu">
		<x-label class="push-right pad">Image</x-label>
	</div>
	<div class="col-4">
		<x-button class="imginput" ng-click="bgImage()">
			<x-icon name="insert-drive-file"></x-icon>
		</x-button>
	</div>

	<div class="col-5" id="bgValue" ng-controller="bgContrl">
		<x-radios >
			<x-box>
				<x-radio name="bgValue" id="first-radio" value="no-repeat" toggled></x-radio>
				<x-label class="left_sm" for="first-radio" id="label-1">No Repeat</x-label>
			</x-box>
			<x-box>
				<x-radio name="bgValue" id="second-radio" value="repeat"></x-radio>
				<x-label class="left_sm" for="second-radio" id="label-2">Repeat X/Y</x-label>
			</x-box>
			<x-box>
				<x-radio name="bgValue" id="third-radio" value="repeat-x"></x-radio>
				<x-label class="left_sm" for="third-radio" id="label-3">Repeat X</x-label>
			</x-box>
			<x-box>
				<x-radio name="bgValue" id="fourth-radio" value="repeat-y"></x-radio>
				<x-label class="left_sm" for="fourth-radio" id="label-4">Repeat Y</x-label>
			</x-box>
			

		</x-radios>
		
	</div>

	<div class="spacer"></div>

	<div class="col-3"></div>
	<div class="col-9">
		<x-button skin="textured" style="width:210px;" ng-click="resetBgImage()">
			<x-box>
				<x-label>Reset Background</x-label>
			</x-box>
		</x-button>
	</div>



	<div class="spacer"></div>
	<hr>