<div class="grid-middle-noGutter"   >
	<div class="col-12">
		<h1 class="title_left">Page Settings</h1>
		<hr>
	</div>


	<x-accordion expanded >
		<header>
			<x-label>Set page Size</x-label>
		</header>

		<main>

			<x-box>
				<x-label style="margin-left:5px; margin-right: 15px; width: 55px;">Presets</x-label>

				<x-select style="margin-right: 10px; margin-bottom: 5px; min-width:220px;">
					<x-menu>
						<x-menuitem value="no_bg" ng-click='setCanvasSize(size.width, size.height)' ng-repeat='size in presetSizes' selected="true">
							<x-label>{{ size.name }}</x-label>
						</x-menuitem>
					</x-menu>
				</x-select>
			</x-box>

			<x-box>
				<x-label style="margin-left:5px; margin-right: 15px; width: 75px;">Edit Size</x-label>

				<x-numberinput id="myWidth" style="margin-right: 5px; width: 130px;" skin="condensed" suffix=" px" ng-value="canvas.getWidth()" suffix=" px" ng-model="width">
					<x-stepper></x-stepper>
				</x-numberinput>

				<div style="width: 20px; margin-right: 5px;">
				</div>

				<x-numberinput id="myHeight" style="width: 130px; margin-right: 10px;" skin="condensed" suffix=" px" ng-value="canvas.getHeight()" suffix=" px" ng-model="height">
					<x-stepper></x-stepper>
				</x-numberinput>

			</x-box>
			<x-box>
				<x-label style="margin-left:5px; margin-right: 15px; width: 75px;"></x-label>
				<x-label class="centered_sm" style="margin-right: 15px; width: 130px;">Page Width</x-label>
				<x-label class="centered_sm" style="width: 20px; margin-right: 5px;"></x-label>
				<x-label class="centered_sm" style="width: 130px; margin-right: 10px;">Page Height</x-label>
			</x-box>



			<x-box>
				<x-button skin="textured" style="margin-left: 75px; width:220px;" ng-click="setMySize()">
					<x-box>
						<x-label>Apply Setting</x-label>
					</x-box>
				</x-button>
			</x-box>

		</main>
	</x-accordion>
	<hr>


	<x-accordion expanded>
		<header>
			<x-label>Background</x-label>
		</header>

		<main>
			<x-box>
				<x-label style="margin-left:5px; margin-right: 5px; width: 65px;">Fill Color</x-label>

				<x-colorselect style="margin-left:5px; margin-right: 15px; width: 70px;">
					<x-popover style="width: 320px;">
						<x-rectcolorpicker style="width: 320px;" alphaslider bind-value-to="canvasBgColor"></x-rectcolorpicker>
					</x-popover>
				</x-colorselect>

				<x-input id="select1" style="width: 130px;" bind-value-to="canvasBgColor">
					<x-icon name="invert-colors"></x-icon>
				</x-input>

			</x-box>

		</main>
	</x-accordion>

	<hr>

	<x-accordion expanded>
		<header>
			<x-label>Background Gradient</x-label>
		</header>

		<main>
			<x-box>
				<x-label style="margin-left:5px; margin-right: 16px; width: 75px;">Colors</x-label>
				<x-colorselect style="margin-right: 5px; width: 130px;">
					<x-popover style="width: 320px;">
						<x-rectcolorpicker id="gradLeft" style="width: 320px;" alphaslider ind-value-to="addGradient()" ng-model="leftColor"></x-rectcolorpicker>
					</x-popover>
				</x-colorselect>

				<div style="width: 20px; margin-right: 5px;">
				</div>

				<x-colorselect style="width: 130px; margin-right: 10px;">
					<x-popover style="width: 320px;">
						<x-rectcolorpicker id="gradRight" style="width: 320px;" alphaslider ind-value-to="addGradient()" ng-model="rightColor"></x-rectcolorpicker>
					</x-popover>
				</x-colorselect>

			</x-box>
			<x-box>
				<x-label style="margin-left:5px; margin-right: 15px; width: 75px;"></x-label>
				<x-label class="centered_sm" style="margin-right: 15px; width: 130px;">Left Color</x-label>
				<x-label class="centered_sm" style="width: 20px; margin-right: 5px;"></x-label>
				<x-label class="centered_sm" style="width: 130px; margin-right: 10px;">Right Color</x-label>
			</x-box>


			<x-box>
				<x-label style="margin-left:5px; margin-right: 16px; width: 80px;">Direction</x-label>

				<x-numberinput ng-disabled="getInputState()" id="canvas-angle" style="margin-right: 15px; width: 137px;" skin="condensed" suffix=" °" bind-value-to="propAngle">
					<x-stepper></x-stepper>
				</x-numberinput>

				<div style="width: 10px; margin-right: 5px;">
				</div>

				<x-buttons tracking="2" style="width: 140px; margin-right: 10px;">
					<x-button style="width: 48px;" skin="textured-condensed" ng-click="flipX()">
						<x-icon name="swap-horiz"></x-icon>
					</x-button>

					<x-button style="width: 48px;" skin="textured-condensed" ng-click="flipY()">
						<x-icon name="swap-vert"></x-icon>
					</x-button>

				</x-buttons>

			</x-box>
			<x-box>
				<x-label style="margin-left:5px; margin-right: 15px; width: 75px;"></x-label>
				<x-label class="centered_sm" style="margin-right: 15px; width: 137px;">Gradient Angle</x-label>
				<x-label class="centered_sm" style="width: 10px; margin-right: 5px;"></x-label>
				<x-label class="centered_sm" style="width: 140px; margin-right: 10px;">Direction</x-label>
			</x-box>

			<x-box>
				<x-button skin="textured" style="margin-left: 75px; width:220px;" ng-click="addGradient();">
					<x-box>
						<x-label>Apply Background</x-label>
					</x-box>
				</x-button>
			</x-box>

		</main>
	</x-accordion>
	<hr>


	<x-accordion expanded>
		<header>
			<x-label>Background Image</x-label>
		</header>

		<main>
			<x-box>
				<x-label style="margin-left: 5px; margin-right: 15px; width: 60px;">Image</x-label>

				<x-button style="width: 55px; height: 55px;" ng-click="bgImage()">
					<x-icon name="insert-drive-file"></x-icon>
				</x-button>

				<div style="width: 20px; margin-right: 5px;">
				</div>

				<x-box vertical style="width: 140px; margin-right: 10px;">
					<x-select style="width: 140px; margin-right: 10px; margin-bottom: 8px;" bind-value-to="bgRepeat">
						<x-menu>
							<x-menuitem value="no-repeat">
								<x-label>No Repeat</x-label>
							</x-menuitem>

							<x-menuitem value="repeat">
								<x-label>Repeat X/Y</x-label>
							</x-menuitem>

							<x-menuitem value="repeat-x">
								<x-label>Repeat X</x-label>
							</x-menuitem>

							<x-menuitem value="repeat-y">
								<x-label>Repeat Y</x-label>
							</x-menuitem>
						</x-menu>
					</x-select>

					<x-button skin="textured" style="width: 140px; margin-right: 10px;" ng-click="resetBgImage()">
						<x-box>
							<x-label>Reset Background</x-label>
						</x-box>
					</x-button>
				</x-box>
			</x-box>

			<x-box>
				<x-label style="margin-left:10px; margin-right: 5px; width: 65px;">Image Size</x-label>

				<x-slider style="width: 140px; top: 8px; margin-right: 5px;" min="0.1" max="10" step="0.1" ng-value="0" bind-value-to="bgSize" skin="arrow">
				</x-slider>

				<x-numberinput style="width: 70px;" suffix=" px" min="0.1" max="10" step="0.1" skin="condensed" ng-value="0" bind-value-to="bgSize">
					<x-stepper></x-stepper>
				</x-numberinput>
			</x-box>

		</main>
	</x-accordion>
	<hr>