<!-- <div ng-drop="true" ng-drag="true" ng-drop-success="onDropComplete1($data,$event)" class="page-flow-item">
    <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)"
        ng-center-anchor="{{centerAnchor}}">
        <x-box class="thumbnail justify">

            <img style="margin: auto;" ng-src="{{obj.thumbnail}}" title="{{ obj.name }}" />
        </x-box>
        <x-box>
            <div class="media-body" style="margin: auto;">
                <p contenteditable="true">{{ obj.name}}</p>
            </div>
        </x-box>
    </div>
</div> -->
<!-- <button ng-click="additem()"></button> -->
<div ng-repeat="dropArea in dropAreas" class="drop-area-item">

    <div ng-repeat="dropAreaLineItem in dropArea">

        <div id="{{dropAreaLineItem.data.name}}" ng-drop="true" ng-drag="false" ng-drop-success="onDropComplete1($data,$event,dropAreaLineItem.name)"
            class="page-flow-item">
            <div ng-drag="true" ng-show="(this.dropAreaLineItem.data)" ng-drag-data="dropAreaLineItem.data" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                <button ng-show="(this.dropAreaLineItem.data)" ng-click="remove(this)">delete</button>
                <x-box class="thumbnail justify">

                    <img style="margin: auto;" ng-src="{{dropAreaLineItem.data.thumbnail}}" title="{{ dropAreaLineItem.data.name }}" />
                </x-box>
                <x-box>
                    <div class="media-body" style="margin: auto;">
                        <p contenteditable="true">{{ dropAreaLineItem.name}}</p>
                    </div>
                </x-box>
            </div>
        </div>
    </div>

</div>



<!-- <div class="row">
    <h1>ngDraggable Example</h1>
</div>

<ul class="draggable-objects">
    <li ng-repeat="obj in draggableObjects">
        <div ng-drag="true" ng-drag-data="obj" data-allow-transform="true"> {{obj.name}} </div>
    </li>
</ul> -->


<!-- //////// -->

<div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
    <span class="title">Drop area #1</span>

    <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)"
        ng-center-anchor="{{centerAnchor}}">
        {{obj.name}}
    </div>
</div>
<hr>
<!-- /////////// -->

<!-- <div ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">
    <span class="title">Drop area #2</span>

    <div ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess2($data,$event)"
        ng-center-anchor="{{centerAnchor}}">
        {{obj.name}}
    </div>

</div> -->