<style>
	.menu {
		padding: 5px;
	}
</style>

<div id="Project" class="tabcontent">
	<h1 class="title_left">Project Settings</h1>
	<hr>
	<x-box class="middle">
		<x-box>
			<x-label>Position</x-label>
		</x-box>
		<x-box>
			<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-label>X</x-label>
				<x-stepper></x-stepper>
			</x-numberinput>

		</x-box>
		<x-box>
			<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</x-box>
	</x-box>
	<x-box class="middle">
		<x-box>
		</x-box>
		<x-box>
			<x-label>X</x-label>
		</x-box>
		<x-box>
			<x-label>Y</x-label>
		</x-box>
	</x-box>
	<x-box class="middle">
		<x-box>
			<x-label>Width</x-label>
			<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>

		</x-box>
		<x-box>
			<x-label>Height</x-label>
			<x-numberinput skin="condensed" value="10" suffix=" px">
				<x-stepper></x-stepper>
			</x-numberinput>
		</x-box>
	</x-box>
</div>