	<h1 class="title_left">Element Styling</h1>
<hr>
<x-box class="middle">	
<x-box>
	<x-label>Left</x-label>
	<x-numberinput skin="condensed" value="10" suffix=" px">
		<x-stepper></x-stepper>
	</x-numberinput>
	
	</x-box>
	<x-box>
	<x-label>Top</x-label>
	<x-numberinput skin="condensed" value="10" suffix=" px">
		<x-stepper></x-stepper>
	</x-numberinput>
		</x-box>
</x-box>
<x-box class="middle">	
<x-box>
	<x-label>Width</x-label>
	<x-numberinput skin="condensed" value="10" suffix=" px">
		<x-stepper></x-stepper>
	</x-numberinput>
	
	</x-box>
	<x-box>
	<x-label>Height</x-label>
	<x-numberinput skin="condensed" value="10" suffix=" px">
		<x-stepper></x-stepper>
	</x-numberinput>
		</x-box>
</x-box>
