<div id="Text" class="tabcontent">
<h1 class="title_left">Typography</h1>
					<hr>
					<div class="divTable">
						<div class="divTableBody">
							<div class="divTableRow">
								<div class="divTableCell">
									<x-label>Position</x-label>
								</div>
								<div class="divTableCell">
									<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
										<x-stepper></x-stepper>
									</x-numberinput>
								</div>
								<div class="divTableCell thin"></div>
								<div class="divTableCell">
									<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
										<x-stepper></x-stepper>
									</x-numberinput>
								</div>
							</div>
							<div class="divTableRow">
								<div class="divTableCell"></div>
								<div class="divTableCell">
									<x-label>X</x-label>
								</div>
								<div class="divTableCell thin"></div>
								<div class="divTableCell">
									<x-label>Y</x-label>
								</div>
							</div>
							<div class="divTableRow">
								<div class="divTableCell">
									<x-label>Size</x-label>
								</div>
								<div class="divTableCell">
									<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
										<x-stepper></x-stepper>
									</x-numberinput>
								</div>
								<div class="divTableCell thin">
									<x-button skin="mini" toggled togglable>
										<x-icon name="insert-link"></x-icon>
									</x-button>
								</div>
								<div class="divTableCell">
									<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
										<x-stepper></x-stepper>
									</x-numberinput>
								</div>
							</div>
							<div class="divTableRow">
								<div class="divTableCell"></div>
								<div class="divTableCell">
									<x-label>Width</x-label>
								</div>
								<div class="divTableCell thin"></div>
								<div class="divTableCell">
									<x-label>Height</x-label>
								</div>
							</div>
							<div class="divTableRow">
								<div class="divTableCell">
									<x-label>Name</x-label>
								</div>
								<div class="divTableCell">
									<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
										<x-stepper></x-stepper>
									</x-numberinput>
								</div>
								<div class="divTableCell thin"></div>
								<div class="divTableCell">
									<x-numberinput class="small" skin="condensed" value="10" suffix=" px">
										<x-stepper></x-stepper>
									</x-numberinput>
								</div>
							</div>
							<div class="divTableRow">
								<div class="divTableCell"></div>
								<div class="divTableCell">
									<x-label>Name</x-label>
								</div>
								<div class="divTableCell thin"></div>
								<div class="divTableCell">
									<x-label>Name</x-label>
								</div>
							</div>
						</div>
					</div>
</div>