<div class="toolbar-actions">
    <x-box class="middle">

        <x-box style="width: 200px; position: relative">
            <div class="left-part" style="position: absolute; left: 0; z-index:11;" id="layers" class="pane-sm sidebar" ng-controller="LeftTabsCtrl">

                <x-box>
                    <x-buttons tracking="1">
                        <x-button ng-repeat="tab in tabs" skin="tabnav" id="{{tab.micon+'Tab'}}"
                                  ng-class="{'active1':isActiveTab(tab.url)}" ng-click="onClickTab(tab)" class="dummy_icons">
							<x-box vertical>
                            <x-icon name="{{tab.micon}}" ></x-icon>
							<x-label style="color: #5a5a5a !Important">{{tab.title}}</x-label>
							</x-box>
                        </x-button>
                    </x-buttons>
                </x-box>
                <div ng-include="currentTab" ng-controller="LayersController"></div>

            </div>
        </x-box>

        <x-buttons tracking="1">
            <x-button skin="iconic" ng-click="addTextbox()">
                <x-box vertical>
                    <x-icon name="title"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Add Text</x-label>
                </x-box>
            </x-button>

            <x-button skin="iconic" ng-click="loadImage()">
                <x-box vertical>
                    <x-icon name="photo"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Add Image</x-label>
                </x-box>
            </x-button>

            <x-button skin="iconic">
                <x-box vertical>
                    <x-icon name="add-box"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Insert Element</x-label>
                </x-box>
                <x-menu>
                    <x-menuitem ng-click="addTextbox()">
                        <x-icon name="title"></x-icon>
                        <x-label>Add Textfield</x-label>
                    </x-menuitem>

                    <x-menuitem ng-click="loadImage()">
                        <x-icon name="photo"></x-icon>
                        <x-label>Add Image...</x-label>
                    </x-menuitem>

                    <x-menuitem>
                        <x-icon name="videocam"></x-icon>
                        <x-label>Add Video...</x-label>
                    </x-menuitem>

                    <hr>

                    <x-menuitem ng-click="addRect()">
                        <x-icon name="content-copy"></x-icon>
                        <x-label>Add Rectangle</x-label>
                    </x-menuitem>

                    <x-menuitem ng-click="addRoundRect()">
                        <x-icon name="crop-square"></x-icon>
                        <x-label>Add Rounded Rectangle</x-label>
                    </x-menuitem>

                    <x-menuitem ng-click="addCircle()">
                        <x-icon name="panorama-fish-eye"></x-icon>
                        <x-label>Add Circle</x-label>
                    </x-menuitem>

                    <x-menuitem ng-click="addTriangle()">
                        <x-icon name="details"></x-icon>
                        <x-label>Add Triangle</x-label>
                    </x-menuitem>

                    <x-menuitem ng-click="addLine()">
                        <x-icon name="remove"></x-icon>
                        <x-label>Add Line</x-label>
                    </x-menuitem>
                    <div class="x-backdrop"></div>
                </x-menu>
            </x-button>

        </x-buttons>

        <x-buttons tracking="1">
            <x-button skin="iconic" toggled>
                <x-box vertical>
                    <x-icon name="edit"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Page Editor</x-label>
                </x-box>
            </x-button>

            <x-button skin="iconic" disabled>
                <x-box vertical>
                    <x-icon name="actions" iconset="images/icons.svg"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Actions Editor</x-label>
                </x-box>
            </x-button>



            <x-button skin="iconic" disabled>
                <x-box vertical>
                    <x-icon name="view-module"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Page Flow</x-label>
                </x-box>
            </x-button>

        </x-buttons>

        <x-buttons tracking="1">
            <x-button skin="iconic" disabled>
                <x-box vertical>
                    <x-icon name="visibility"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Project Preview</x-label>
                </x-box>
            </x-button>

            <x-button skin="iconic" disabled>
                <x-box vertical>
                    <x-icon name="code"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Code View</x-label>
                </x-box>
            </x-button>

        </x-buttons>

        <x-buttons tracking="2">
            <x-button skin="iconic" onclick="toggleInspector()" toggled>
                <x-box vertical>
                    <x-icon name="settings"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Inspector</x-label>
                </x-box>
            </x-button>

            <x-button skin="iconic" disabled>
                <x-box vertical>
                    <x-icon name="image"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Asset Library</x-label>
                </x-box>
            </x-button>

            <x-button skin="iconic" disabled>
                <x-box vertical>
                    <x-icon name="get-app"></x-icon>
                    <x-label style="color: #5a5a5a !Important">Export</x-label>
                </x-box>
            </x-button>

        </x-buttons>
    </x-box>
</div>
